$b: '.section-title';

#{$b} {
  padding: 94px 0 60px 0;
  font-family: $font-base;
  color: $title-base;
  text-align: center;
  line-height: 1.15;

  &_main {
    font-size: 40px;
    font-weight: bold;
  }

  &_subtitle {
    font-size: 25px;
    margin-top: 21px;
  }
}
