$b: '.s-reasons';

#{$b} {
  &__slider {
    margin: 0 -15px;
    &.swiper-container {
      overflow: visible;
    }

    &-wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      @include mobile {
        flex-wrap: nowrap;
      }
    }

    &-slide {
      width: 33.3333%;

      @include mobile {
        width: 50%!important;
      }
    }
  }

  &__slider-item {
    padding: 0 15px 53px 15px;
  }

  &__img {
    height: 253px;
  }

  &__title {
    height: 48px;
    line-height: 48px;
    bottom: 32px;
    width: 300px;
  }
}
