$b: '.s-unique';

#{$b} {
  &__slider {
    margin: 0 -15px;
  }

  &__slider-wrapper {
    flex-wrap: wrap;
  }

  &__slider-slide {
    width: 33.3333%;
    height: 395px;
  }

  &__slider-item {
    padding: 0 15px 53px 15px;
  }

  &__top {
    position: relative;
  }

  &__img {
    height: 214px;
  }

  &__title {
    width: 270px;
    height: 42px;
    line-height: 42px;
    bottom: -23px;
  }

  &__text {
    background-color: $white-true;
    padding: 0 21px 20px 24px;
    min-height: 319px;
    position: absolute;
    top: 34px;
    left: 45px;
    z-index: -1;
    display: flex;
    align-items: flex-end;
    width: 85%;
  }
}

