html {
  --root-font-size: #{$root-font-size}px;
  font-size: #{$root-font-size}px;
}

body {
  position: relative;
  min-width: 320px;
  height: 100%;
  font-family: $font-family-base;
  font-size: $font-size;
  font-weight: normal;
  line-height: $line-height;
  color: $text-base;
  background: $bg-main;
  text-rendering: geometricPrecision;

  ._is-popup-open & {
    overflow: hidden;
  }
}

::selection {
  background: rgba($accent-base, .3);
  text-shadow: none;
}

.g-tab {
  cursor: pointer;
}

.s-program__tabs-content_item {
  &:not(._active) {
    opacity: 0;
    height: 0;
  }
}
