// Size
$outer-w: 1230px;
$inner-pd: 30px;
$inner-pd-ld: 30px;
$inner-pd-tab: 25px;
$inner-pd-mob: 15px;

// Colors
$black-true: #000;
$white-true: #fff;
$yellow: #ffd228;
$dark-blue: #002b58;

// UI Colors
$color-base: $white-true;
$accent-base: #1a8cff;
$action-base: #f42f3e;
$text-base: #000000;
$title-base: #040f19;
$border-base: #e6ecf2;
$border-input: #dddddd;
$link-base: #1964b1;
$shadow-base: #004484;
$site-preloader-inner: $accent-base;
$site-preloader-bg: $white-true;

// Backgrounds
$bg-main: $white-true;
$bg-alt: #f0f0f0;
$bg-footer: #f5f5f9;

// Fonts
$font-base: 'PT Sans';
$font-alt: 'Meta';
$font-size: 20px;
$line-height: 27px;
$font-family-base: $font-base, Arial, Helvetica, sans-serif;
$font-family-alt: $font-alt, Arial, Helvetica, sans-serif;

// Transition
$g-transition-duration: .25s;
$g-transition-easing: ease-out;
$g-transition: all $g-transition-duration $g-transition-easing;
$transition-easing-alt: cubic-bezier(0.77, 0, 0.19, 1);

// Screen sizes
$wide-desktop-width: 1600px;
$desktop-width: 1366px;
$low-desktop-width: 1024px;
$tablet-width: 768px;
$mobile-width: 524px;

// Rem
$root-font-size: 100;

// Paths
$image-path: '../img/';
