<footer class="site-footer l-footer">
    <div class="site-footer__container l-outer-width l-inner-padding">
        <div class="site-footer__content">
            <div class="site-footer__logo"></div>
            <div class="site-footer__info">
                <ul class="site-footer__list">
                    <li class="site-footer__item">+7 (499) 677-58-44</li>
                    <li class="site-footer__item">Москва, Большая Новодмитровская ул., 36, стр. 12, Москва, 127015</li>
                </ul>
            </div>
            <div class="site-footer__social">
                <ul class="social_list">
                    <li class="social_list_item"></li>
                    <li class="social_list_item"></li>
                    <li class="social_list_item"></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
