<div class="form-alert">
    <a href="#" class="form-alert__close" data-dismiss="alert"></a>
    <div class="form-alert__success-msg">Ваше сообщение отправлено! Наш менеджер свяжется с вами в ближайшее время.</div>
</div>
