<header class="site-header">
    <div class="l-header__container">
        <div class="l-header__logo">
            <a href="#" class="site-header__logo">
                <img src="../img/main-page/logo/logo.png" alt="Australia">
            </a>
        </div>
    </div>
</header>
