<div class="s-program__tabs-content_item g-tab-content" data-tab-name="1">
    <p><b>14:30</b> — Получаем автомобиль и&nbsp;отправляемся из&nbsp;Сиднея на&nbsp;север через мост Harbour Bridge и&nbsp;по&nbsp;шоссе Pacific Highway через города Госфорд (Gosford) и&nbsp;Ньюкасл (Newcastle).</p>
    <p><b>Ньюкасл&nbsp;&mdash; это шестой по&nbsp;величине город Австралии.</b></p>
    <p><b>19:00</b> — Покидаем Ньюкасл и&nbsp;продолжаем путь через городок Мейтленд (Maitland) до&nbsp;виноградной долины Хантер (Hunter Valley), где представится прекрасная возможность продегустировать и&nbsp;приобрести одни из&nbsp;лучших вин в&nbsp;Австралии, а&nbsp;также познакомиться с&nbsp;творениями искусства и&nbsp;кулинарии.</p>
    <p><b>22:00</b> — Размещение в&nbsp;отеле Leisure Inn Pokolbin (номер категории Studio; без завтрака).</p>
    <p class="blue"><b>Аренда автомобиля действует до&nbsp;следующего дня. Вам необходимо будет оставить его городском офисе или аэропорту вылета в&nbsp;то&nbsp;же самое время, в&nbsp;которое вы&nbsp;забирали его в&nbsp;первый день (чтобы избежать дополнительных выплат).</b></p>
</div>
<div class="s-program__tabs-content_item g-tab-content" data-tab-name="2">
    <p><b>14:30</b> — Получаем автомобиль и&nbsp;отправляемся из&nbsp;Сиднея на&nbsp;север через мост Harbour Bridge и&nbsp;по&nbsp;шоссе Pacific Highway через города Госфорд (Gosford) и&nbsp;Ньюкасл (Newcastle).</p>
</div>
<div class="s-program__tabs-content_item g-tab-content" data-tab-name="3">
    <p><b>14:30</b> — Получаем автомобиль и&nbsp;отправляемся из&nbsp;Сиднея на&nbsp;север через мост Harbour Bridge и&nbsp;по&nbsp;шоссе Pacific Highway через города Госфорд (Gosford) и&nbsp;Ньюкасл (Newcastle).</p>
    <p><b>Ньюкасл&nbsp;&mdash; это шестой по&nbsp;величине город Австралии.</b></p>
    <p class="blue"><b>Аренда автомобиля действует до&nbsp;следующего дня. Вам необходимо будет оставить его городском офисе или аэропорту вылета в&nbsp;то&nbsp;же самое время, в&nbsp;которое вы&nbsp;забирали его в&nbsp;первый день (чтобы избежать дополнительных выплат).</b></p>
</div>
<div class="s-program__tabs-content_item g-tab-content" data-tab-name="4">
    <p><b>19:00</b> — Покидаем Ньюкасл и&nbsp;продолжаем путь через городок Мейтленд (Maitland) до&nbsp;виноградной долины Хантер (Hunter Valley), где представится прекрасная возможность продегустировать и&nbsp;приобрести одни из&nbsp;лучших вин в&nbsp;Австралии, а&nbsp;также познакомиться с&nbsp;творениями искусства и&nbsp;кулинарии.</p>
    <p><b>22:00</b> — Размещение в&nbsp;отеле Leisure Inn Pokolbin (номер категории Studio; без завтрака).</p>
    <p class="blue"><b>Аренда автомобиля действует до&nbsp;следующего дня. Вам необходимо будет оставить его городском офисе или аэропорту вылета в&nbsp;то&nbsp;же самое время, в&nbsp;которое вы&nbsp;забирали его в&nbsp;первый день (чтобы избежать дополнительных выплат).</b></p>
</div>
<div class="s-program__tabs-content_item g-tab-content" data-tab-name="5">
    <p class="blue"><b>Аренда автомобиля действует до&nbsp;следующего дня. Вам необходимо будет оставить его городском офисе или аэропорту вылета в&nbsp;то&nbsp;же самое время, в&nbsp;которое вы&nbsp;забирали его в&nbsp;первый день (чтобы избежать дополнительных выплат).</b></p>
</div>
<div class="s-program__tabs-content_item g-tab-content" data-tab-name="6">
    <p><b>19:00</b> — Покидаем Ньюкасл и&nbsp;продолжаем путь через городок Мейтленд (Maitland) до&nbsp;виноградной долины Хантер (Hunter Valley), где представится прекрасная возможность продегустировать и&nbsp;приобрести одни из&nbsp;лучших вин в&nbsp;Австралии, а&nbsp;также познакомиться с&nbsp;творениями искусства и&nbsp;кулинарии.</p>
    <p><b>22:00</b> — Размещение в&nbsp;отеле Leisure Inn Pokolbin (номер категории Studio; без завтрака).</p>
    <p class="blue"><b>Аренда автомобиля действует до&nbsp;следующего дня. Вам необходимо будет оставить его городском офисе или аэропорту вылета в&nbsp;то&nbsp;же самое время, в&nbsp;которое вы&nbsp;забирали его в&nbsp;первый день (чтобы избежать дополнительных выплат).</b></p>
</div>
