<div class="s-program__tabs-content_item" data-tab-name="1">
    <p><b>14:30</b> — Получаем автомобиль и отправляемся из Сиднея на север через мост Harbour Bridge и по шоссе Pacific Highway через города Госфорд (Gosford) и Ньюкасл (Newcastle).</p>
    <p><b>Ньюкасл – это шестой по величине город Австралии.</b></p>
    <p><b>19:00</b> — Покидаем Ньюкасл и продолжаем путь через городок Мейтленд (Maitland) до виноградной долины Хантер (Hunter Valley), где представится прекрасная возможность продегустировать и приобрести одни из лучших вин в Австралии, а также познакомиться с творениями искусства и кулинарии.</p>
    <p><b>22:00</b> — Размещение в отеле Leisure Inn Pokolbin (номер категории Studio; без завтрака).</p>
    <p class="blue"><b>Аренда автомобиля действует до следующего дня. Вам необходимо будет оставить его городском офисе или аэропорту вылета в то же самое время, в которое вы забирали его в первый день (чтобы избежать дополнительных выплат).</b></p>
</div>
<div class="s-program__tabs-content_item" data-tab-name="2">
    <p><b>14:30</b> — Получаем автомобиль и отправляемся из Сиднея на север через мост Harbour Bridge и по шоссе Pacific Highway через города Госфорд (Gosford) и Ньюкасл (Newcastle).</p>
</div>
<div class="s-program__tabs-content_item" data-tab-name="3">
    <p><b>14:30</b> — Получаем автомобиль и отправляемся из Сиднея на север через мост Harbour Bridge и по шоссе Pacific Highway через города Госфорд (Gosford) и Ньюкасл (Newcastle).</p>
    <p><b>Ньюкасл – это шестой по величине город Австралии.</b></p>
    <p><b>19:00</b> — Покидаем Ньюкасл и продолжаем путь через городок Мейтленд (Maitland) до виноградной долины Хантер (Hunter Valley), где представится прекрасная возможность продегустировать и приобрести одни из лучших вин в Австралии, а также познакомиться с творениями искусства и кулинарии.</p>
</div>
<div class="s-program__tabs-content_item" data-tab-name="4">
    <p><b>14:30</b> — Получаем автомобиль и отправляемся из Сиднея на север через мост Harbour Bridge и по шоссе Pacific Highway через города Госфорд (Gosford) и Ньюкасл (Newcastle).</p>
    <p><b>Ньюкасл – это шестой по величине город Австралии.</b></p>
    <p><b>19:00</b> — Покидаем Ньюкасл и продолжаем путь через городок Мейтленд (Maitland) до виноградной долины Хантер (Hunter Valley), где представится прекрасная возможность продегустировать и приобрести одни из лучших вин в Австралии, а также познакомиться с творениями искусства и кулинарии.</p>
    <p><b>22:00</b> — Размещение в отеле Leisure Inn Pokolbin (номер категории Studio; без завтрака).</p>
    <p class="blue"><b>Аренда автомобиля действует до следующего дня. Вам необходимо будет оставить его городском офисе или аэропорту вылета в то же самое время, в которое вы забирали его в первый день (чтобы избежать дополнительных выплат).</b></p>
</div>
<div class="s-program__tabs-content_item" data-tab-name="5">
    <p><b>14:30</b> — Получаем автомобиль и отправляемся из Сиднея на север через мост Harbour Bridge и по шоссе Pacific Highway через города Госфорд (Gosford) и Ньюкасл (Newcastle).</p>
    <p><b>Ньюкасл – это шестой по величине город Австралии.</b></p>
    <p><b>19:00</b> — Покидаем Ньюкасл и продолжаем путь через городок Мейтленд (Maitland) до виноградной долины Хантер (Hunter Valley), где представится прекрасная возможность продегустировать и приобрести одни из лучших вин в Австралии, а также познакомиться с творениями искусства и кулинарии.</p>
</div>
<div class="s-program__tabs-content_item" data-tab-name="6">
    <p><b>14:30</b> — Получаем автомобиль и отправляемся из Сиднея на север через мост Harbour Bridge и по шоссе Pacific Highway через города Госфорд (Gosford) и Ньюкасл (Newcastle).</p>
    <p><b>Ньюкасл – это шестой по величине город Австралии.</b></p>
    <p><b>19:00</b> — Покидаем Ньюкасл и продолжаем путь через городок Мейтленд (Maitland) до виноградной долины Хантер (Hunter Valley), где представится прекрасная возможность продегустировать и приобрести одни из лучших вин в Австралии, а также познакомиться с творениями искусства и кулинарии.</p>
</div>
