<section class="s-about section">
    <div class="s-about__container l-outer-width l-inner-padding">
        <div class="s-about__container-inner">
            <div class="section-title">Австралия – идеальное место для новых и ярких впечатлений
            </div>
            <div class="s-about__content">
                <div class="s-about__info">
                    <p class="s-about__info_text">Дикая природа может находиться здесь сразу за следующим перекрёстком и будет мирно соседствовать с большим городом. Только в Сиднее насчитывается 70 муниципальных пляжей. В Мельбурне одну третью часть города занимают парки. А в Дарвине часто бывает, что в бухту заплывают 4-метровые крокодилы «солти». И ведь большинство туристов приезжают в Австралию, чтобы первым делом посмотреть на живых кенгуру, разве нет? А чего только стоит проснуться где-нибудь в буше от маниакального смеха кукабарры…</p>
                    <ul class="s-about__list">
                        <li class="s-about__list_item">
                            <div class="s-about__list_title">Длительность перелета</div>
                            <div class="s-about__list_info">19:30 (Москва - Сидней)</div>
                        </li>
                        <li class="s-about__list_item">
                            <div class="s-about__list_title">Часовой пояс</div>
                            <div class="s-about__list_info">GMT +8...+11 (Москва +5...+8)</div>
                        </li>
                        <li class="s-about__list_item">
                            <div class="s-about__list_title">Рекомендуемые авиалинии</div>
                            <div class="s-about__list_info">Сингапурские авиалинии, Эмирейтс, Этихад</div>
                        </li>
                        <li class="s-about__list_item">
                            <div class="s-about__list_title">Разговорный язык</div>
                            <div class="s-about__list_info">Английский</div>
                        </li>
                    </ul>
                </div>
                <div class="s-about__img"></div>
            </div>
        </div>
    </div>
</section>
