<section class="s-about section">
    <div class="s-about__container l-outer-width l-inner-padding">
        <div class="s-about__container-inner">
            <div class="section-title">
                <div class="section-title_main">Австралия – идеальное место для новых и ярких впечатлений</div>
            </div>
            <div class="s-about__content">
                <div class="s-about__info">
                    <p class="s-about__info-text">Дикая природа может находиться здесь сразу за&nbsp;следующим перекрёстком и&nbsp;будет мирно соседствовать с&nbsp;большим городом. Только в&nbsp;Сиднее насчитывается 70&nbsp;муниципальных пляжей. В&nbsp;Мельбурне одну третью часть города занимают парки. А&nbsp;в&nbsp;Дарвине часто бывает, что в&nbsp;бухту заплывают 4-метровые крокодилы &laquo;солти&raquo;. И&nbsp;ведь большинство туристов приезжают в&nbsp;Австралию, чтобы первым делом посмотреть на&nbsp;живых кенгуру, разве нет? А&nbsp;чего только стоит проснуться где-нибудь в&nbsp;буше от&nbsp;маниакального смеха кукабарры...</p>
                    <ul class="s-about__list">
                        <li class="s-about__list-item">
                            <div class="s-about__list-title">Длительность перелета</div>
                            <div class="s-about__list-info">19:30 (Москва - Сидней)</div>
                        </li>
                        <li class="s-about__list-item">
                            <div class="s-about__list-title">Часовой пояс</div>
                            <div class="s-about__list-info">GMT +8...+11 (Москва +5...+8)</div>
                        </li>
                        <li class="s-about__list-item">
                            <div class="s-about__list-title">Рекомендуемые авиалинии</div>
                            <div class="s-about__list-info">Сингапурские авиалинии, Эмирейтс, Этихад</div>
                        </li>
                        <li class="s-about__list-item">
                            <div class="s-about__list-title">Разговорный язык</div>
                            <div class="s-about__list-info">Английский</div>
                        </li>
                    </ul>
                </div>
                <div class="s-about__img"></div>
            </div>
        </div>
    </div>
</section>
