<section class="s-feedback section">
    <div class="s-feedback__container l-outer-width l-inner-padding">
        <form class="s-feedback__form form" action="" >
            <div class="form__header">
                <div class="form__header-title">Узнайте все детали путешествия</div>
                <div class="form__header-subtitle">Заполните форму и получите более подробную программу</div>
            </div>
            <div class="form__container">
                <label for="name" class="form__label">Имя</label>
                <input type="text" inputmode="name" id="name" class="form__input">
                <label for="phone" class="form__label">Телефон или e-mail</label>
                <input type="email" inputmode="email" id="phone" class="form__input">
                <button type="submit" class="form__button button button--blue button--submit">Получить программу</button>
            </div>
        </form>
        <div class="s-feedback__bg">
            <img src="../../img/main-page/feedback/bg.png" alt="">
        </div>
    </div>
</section>
