<section class="s-feedback section">
    <div class="s-feedback__container l-outer-width l-inner-padding">
        <form class="s-feedback__form form" action="" >
            {% include 'modules/form-success-alert.twig' %}
            <div class="form__header">
                <div class="form__header-title">Узнайте все детали путешествия</div>
                <div class="form__header-subtitle">Заполните форму и получите более подробную программу</div>
            </div>
            <div class="form__container">
                <div class="form__input-wrap">
                    <label for="name" class="form__label">Имя</label>
                    <input type="text" name="name" id="name" class="form__input">
                </div>
                <div class="form__input-wrap">
                    <label for="email" class="form__label">Телефон или e-mail</label>
                    <input type="email" name="email" id="email" class="form__input">
                </div>
                <button type="submit" class="form__button button button--blue button--submit">Получить программу</button>
            </div>
        </form>
        <div class="s-feedback__bg">
            <img src="../../img/main-page/feedback/bg.png" alt="">
        </div>
    </div>
</section>
