<section class="s-gallery section">
    <div class="s-gallery__container l-outer-width l-inner-padding">
        <div class="section-title">
            <div class="section-title_main">Фото из поездок</div>
        </div>
        <div class="s-gallery__slider">
            <div class="s-gallery__slider-container swiper-container s-gallery__slider-gallery-top">
                <div class="s-gallery__slider-wrapper swiper-wrapper">
                    <div class="s-gallery__slider-item swiper-slide" style="background-image:url('../../../img/main-page/gallery/1.jpg');"></div>
                    <div class="s-gallery__slider-item swiper-slide" style="background-image:url('../../../img/main-page/gallery/2.jpg');"></div>
                    <div class="s-gallery__slider-item swiper-slide" style="background-image:url('../../../img/main-page/gallery/3.jpg');"></div>
                    <div class="s-gallery__slider-item swiper-slide" style="background-image:url('../../../img/main-page/gallery/4.jpg');"></div>
                </div>
                <!-- Переключатели -->
                <div class="swiper-button-next swiper-button-white"></div>
                <div class="swiper-button-prev swiper-button-white"></div>
            </div>
            <div class="s-gallery__slider-container swiper-container s-gallery__slider-gallery-thumbs">
                <div class="s-gallery__slider-wrapper swiper-wrapper">
                    <div class="s-gallery__slider-item swiper-slide" style="background-image:url('../../../img/main-page/gallery/1.jpg');"></div>
                    <div class="s-gallery__slider-item swiper-slide" style="background-image:url('../../../img/main-page/gallery/2.jpg');"></div>
                    <div class="s-gallery__slider-item swiper-slide" style="background-image:url('../../../img/main-page/gallery/3.jpg');"></div>
                    <div class="s-gallery__slider-item swiper-slide" style="background-image:url('../../../img/main-page/gallery/4.jpg');"></div>
                </div>
            </div>
        </div>
    </div>
</section>
