<section class="s-main section js-lazy-bg" data-background-image="../img/main-page/main/bg.jpg">
    <div class="s-main__container l-outer-width l-inner-padding">
        <div class="s-main__container-inner">
            <div class="s-main__content">
                <h1 class="s-main__title">Австралия</h1>
                <h2 class="s-main__tour">Сидней - Бриcбен по Тихоокеанскому  побережью</h2>
                <h3 class="s-main__details">Март 2018 / 16 мест в группе / 6 дней от 637$</h3>
                <a href="" class="button --yellow s-main__button"></a>
            </div>
        </div>
    </div>
</section>
