<section id="program" class="s-program section bg-grey">
    <div class="s-program__container l-outer-width l-inner-padding">
        <div class="section-title">
            <div class="section-title_main">Программа путешествия</div>
        </div>
        <div class="s-program__tabs">
            <div class="s-program__tabs-nav">
                {% set arr = [1,2,3,4,5,6] %}
                <ul class="s-program__tabs-list">
                    {% for items in arr | slice(6) %}
                    <li class="s-program__tabs-list_item g-tab" data-tab-name="{{ loop.index }}">
                        <div class="s-program__tabs-list_title">День {{ loop.index }}</div>
                        <div class="s-program__tabs-list_subtitle">Сидней – долина Хантер, 247 км</div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="s-program__tabs-content">
                {% include 'modules/tabs.twig' %}
            </div>
        </div>
    </div>
</section>
