<section class="s-program section bg-grey">
    <div class="s-program__container l-outer-width l-inner-padding">
        <div class="section-title">
            <div class="section-title_main">Программа путешествия</div>
        </div>
        <div class="s-program__tabs">
            <div class="s-program__tabs-nav">
                <ul class="s-program__tabs-list">
                    <li class="s-program__tabs-list_item active">
                        <div class="s-program__tabs-list_title">День 1</div>
                        <div class="s-program__tabs-list_subtitle">Сидней – долина Хантер, 247 км</div>
                    </li>
                    <li class="s-program__tabs-list_item">
                        <div class="s-program__tabs-list_title">День 1</div>
                        <div class="s-program__tabs-list_subtitle">Сидней – долина Хантер, 247 км</div>
                    </li>
                    <li class="s-program__tabs-list_item">
                        <div class="s-program__tabs-list_title">День 1</div>
                        <div class="s-program__tabs-list_subtitle">Сидней – долина Хантер, 247 км</div>
                    </li>
                    <li class="s-program__tabs-list_item">
                        <div class="s-program__tabs-list_title">День 1</div>
                        <div class="s-program__tabs-list_subtitle">Сидней – долина Хантер, 247 км</div>
                    </li>
                    <li class="s-program__tabs-list_item">
                        <div class="s-program__tabs-list_title">День 1</div>
                        <div class="s-program__tabs-list_subtitle">Сидней – долина Хантер, 247 км</div>
                    </li>
                    <li class="s-program__tabs-list_item">
                        <div class="s-program__tabs-list_title">День 1</div>
                        <div class="s-program__tabs-list_subtitle">Сидней – долина Хантер, 247 км</div>
                    </li>
                </ul>
            </div>
            <div class="s-program__tabs-content">
                <p><b>14:30</b> — Получаем автомобиль и отправляемся из Сиднея на север через мост Harbour Bridge и по шоссе Pacific Highway через города Госфорд (Gosford) и Ньюкасл (Newcastle).</p>
                <p><b>Ньюкасл – это шестой по величине город Австралии.</b></p>
                <p><b>19:00</b> — Покидаем Ньюкасл и продолжаем путь через городок Мейтленд (Maitland) до виноградной долины Хантер (Hunter Valley), где представится прекрасная возможность продегустировать и приобрести одни из лучших вин в Австралии, а также познакомиться с творениями искусства и кулинарии.</p>
                <p><b>22:00</b> — Размещение в отеле Leisure Inn Pokolbin (номер категории Studio; без завтрака).</p>
                <p class="blue"><b>Аренда автомобиля действует до следующего дня. Вам необходимо будет оставить его городском офисе или аэропорту вылета в то же самое время, в которое вы забирали его в первый день (чтобы избежать дополнительных выплат).</b></p>
            </div>
        </div>
    </div>
</section>
