<section class="s-reasons section">
    <div class="s-reasons__container l-outer-width l-inner-padding">
        <div class="s-reasons__container-inner">
            <div class="section-title">6 причин посетить Австралию</div>
            <div class="s-reasons__slider swiper-container">
                <div class="s-reasons__slider_wrapper swiper-wrapper">
                    <!-- @todo вынести в json -->
                    <div class="s-reasons__slider_slide swiper-slide">
                        <div class="s-reasons__slider_item">
                            <div class="s-reasons__img" style="background-image: url('../../../img/main-page/reasons/1.jpg')"></div>
                            <div class="s-reasons__title">Культура аборигенов</div>
                        </div>
                    </div>
                    <div class="s-reasons__slider_slide swiper-slide">
                        <div class="s-reasons__slider_item">
                            <div class="s-reasons__img" style="background-image: url('../../../img/main-page/reasons/2.jpg')"></div>
                            <div class="s-reasons__title">Национальные парки</div>
                        </div>
                    </div>
                    <div class="s-reasons__slider_slide swiper-slide">
                        <div class="s-reasons__slider_item">
                            <div class="s-reasons__img" style="background-image: url('../../../img/main-page/reasons/3.jpg')"></div>
                            <div class="s-reasons__title">Города австралии</div>
                        </div>
                    </div>
                    <div class="s-reasons__slider_slide swiper-slide">
                        <div class="s-reasons__slider_item">
                            <div class="s-reasons__img" style="background-image: url('../../../img/main-page/reasons/4.jpg')"></div>
                            <div class="s-reasons__title">Пляжи и дайвинг</div>
                        </div>
                    </div>
                    <div class="s-reasons__slider_slide swiper-slide">
                        <div class="s-reasons__slider_item">
                            <div class="s-reasons__img" style="background-image: url('../../../img/main-page/reasons/5.jpg')"></div>
                            <div class="s-reasons__title">Эндемичная фауна</div>
                        </div>
                    </div>
                    <div class="s-reasons__slider_slide swiper-slide">
                        <div class="s-reasons__slider_item">
                            <div class="s-reasons__img" style="background-image: url('../../../img/main-page/reasons/6.jpg')"></div>
                            <div class="s-reasons__title">Вино и кулинария</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
