<section class="s-reasons section">
    <div class="s-reasons__container l-outer-width l-inner-padding">
        <div class="s-reasons__container-inner">
            <div class="section-title">
                <div class="section-title_main">6 причин посетить Австралию</div>
            </div>
            <div class="s-reasons__slider swiper-container">
                <div class="s-reasons__slider-wrapper swiper-wrapper">
                    {% for slide in reasons.slider %}
                        <div class="s-reasons__slider-slide swiper-slide">
                            <div class="s-reasons__slider-item image-block">
                                <div class="s-reasons__img image-block__img" style="background-image: url('{{ slide.img }}')"></div>
                                <div class="s-reasons__title image-block__title">{{ slide.title }}</div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
