<section class="s-support section">
    <div class="s-support__container l-outer-width l-inner-padding">
        <div class="s-support__content">
            <div class="s-support__info">
                <div class="s-support__info-title">Сопровождение</div>
                <div class="s-support__info-name">Антон Иванов</div>
                <div class="s-support__info-desc">Кругосветчик, фотограф CEO «Build The Travel» Основатель «DreamBus Project»</div>
            </div>
            <div class="s-support__img" style="background-image: url('../../../img/main-page/support/ivanov.jpg')">
            </div>
        </div>
    </div>
</section>
