<section class="s-unique section bg-grey">
    <div class="s-unique__container l-outer-width l-inner-padding">
        <div class="section-title">
                <div class="section-title_main">Мы уникальны</div>
                <div class="section-title_subtitle">Преимущества путешествий с нашей командой</div>
            </div>
            <div class="s-unique__container-inner">
                <div class="s-unique__slider swiper-container">
                    <div class="s-unique__slider-wrapper swiper-wrapper">
                        {% for slide in unique.slider %}
                            <div class="s-unique__slider-slide swiper-slide">
                                <div class="s-unique__slider-item image-block">
                                    <div class="s-unique__img image-block__img" style="background-image: url('{{ slide.img }}')"></div>
                                    <!-- <div class="s-unique__top">
                                <div class="s-unique__title image-block__title">{{ slide.title }}</div>
                            </div> -->
                                    <div class="s-unique__text">
                                        <div class="s-unique__text-title image-block__title">{{ slide.title }}</div>
                                        <div class="s-unique__text-info">{{ slide.text }}</div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
    </div>
</section>
